<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Test email from IPN, <%= @user.name %></h1>
    <p>

      your username is: <%= @user.login %>.<br/>
    </p>
    <p>
	Current Status : <%=@user.params%>
    </p>

  </body>
</html>